<html>
  <head> 
      
      
  </head>
  <body>
  <div>
    <!--Navbar code goes here-->
    <form [formGroup]="searchForm">
      <div class="form-group">
        <input type="text" class="form-control" id="search" name="search" placeholder="Search Here" (keypress)="search()" formControlName="search">
        <div class="suggestion-box" *ngIf="suggestions">
        </div>
      </div>
      <button type="submit" (click)="search()" class="btn-primary">Search</button>
    </form>

  </div>
  <div class="container">
      
  </div>
  
      
  </body>
</html>